#style {
    background-color: antiquewhite;
    padding-bottom: 0.5%;
}

#logo {
    margin-top: 5px;
}

#socialmedia {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.main-container {
    padding-top: 50px;
}